.page-container {
  padding-top: 1rem;
  background: #232946;
  /* background-color: red; */
}

.title-form {
  padding: 0;
  border-radius: 0px;
}

.editor-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: white;
  display: block;
  height: 65vh;
}

.editor-container .display-box {
  height: 55vh;
  border: solid 0.25px rgb(192, 192, 192);
  margin-bottom: 0.4rem;
  display: block;
  overflow:hidden;
  overflow-y: auto
}

.editor-container .chat-box {
  background: royalblue;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  background: #232946;
}

.footer-container button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background: #b8c1ec;
  color: #35363d;
}
